<h1> Post a New Article...</h1>


<%= form_for(@article) do |f| %>
<p><%= f.text_field:title %></p>
<p><%= f.text_area:body %></p>
<p><%= f.submit %>   <%= link_to "Done", articles_path, class: 'btn btn-success btn-sm' %></p>

<% end %>